body {
    margin: 0;
}


a.FAQ {color: blue;
}

li {
    line-height: 2em;
}

.qList {
    font-size: 1.5em;
    list-style-type: square;
    border: 1px solid lightblue;
    border-radius: 15px;
    background-color: cornflowerblue;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.qList li {
}
.qList li a {
    color: #FFF5EE;
}
.qList li a:hover {
    background-color: lightgrey;
}
.qList li a:visited {
    color: antiquewhite;
}

.headline {
    font-size: 2em;
    text-align: center;
    text-shadow: 2px 2px 2px cornflowerblue;
}

.FAQlist{
    width: 54%;
    margin:0;
    display: inline-block;
    
}

.quest {
    display: inline-block;
    width:44%;
    height: 16em;
}
#questPic {
   width: 70%;
    height: 80%;
    margin:0;
    
}