* {
    box-sizing: border-box;
}
p {
    font-size: 1.1em;
    line-height: 1.3em;
}

body {
    margin: 0;
    /* Endre font til det vi vil bruke */
    font-family: "Segoe UI", Roboto, "Helvetica Neue", -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}


/* Main Containers */
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33% !important;}
    .col-2 {width: 16.66% !important;}
    .col-3 {width: 25% !important;}
    .col-4 {width: 33.33% !important;}
    .col-5 {width: 41.66% !important;}
    .col-6 {width: 50% !important;}
    .col-7 {width: 58.33% !important;}
    .col-8 {width: 66.66% !important;}
    .col-9 {width: 75% !important;}
    .col-10 {width: 83.33% !important;}
    .col-11 {width: 91.66% !important;}
    .col-12 {width: 100% !important;}
}

[class*="col-"] {
    float: left;
    padding: 16px;
    /*border: 1px solid red; for testing*/
    
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    width: 100%;
}

.container {
    width: 100%;
    margin: auto;
}

@media (min-width : 768px) {
    .container {
        margin: auto;
        width: 750px;
    }
}

@media (min-width : 992px) {
    .container {
        margin: auto;
        width: 970px;
    }
}

@media (min-width : 1200px) {
    .container {
        margin: auto;
        width: 1170px;
    }
}

.container-full {
    width: 100%;
}

/* Common CSS */
.no-padding {
    padding:0;
}

.text-outline {
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.text-center {
    text-align: center;
}

.visible {
    display: inherit !important;
}

.hidden {
    display: none !important;
}

.standard-img {
    max-width: 100%;
    height: auto;
}

/*FADDERSIDE*/
.fadder-border{
    border: solid black 1px;
}
.fadder-box{
    min-height: 11.0em;
}

.fadder-info{
    text-align: center;
}

.fadder-navn{
    text-align: center;
    margin-top: 4.0em;
}

.fadder-img{
    border-radius: 100%;
}

/*FADDERSIDE SLUTT*/
/*SPØRRE SKJEMA*/
.text-box{
    box-shadow: 3px 3px 3px 3px grey;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
}

input[type=text]{
    width: 100%;
    border-radius: 3px;
}

textarea{
    width: 100%;
    border-radius: 3px;
}

